.card {
  margin: 2.5rem 1rem;

  .content {
    width: 300px;
    height: 400px;
    border-radius: 0.8rem;
    background-color: $light;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .name {
    margin-top: 0.5rem;
  }

  img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 2px solid $light;
    background-color: $light;
    position: absolute;
    top: -65px;
    left: 90px;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    color: $dark;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
  }

  .vote {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    button {
      border-radius: 0.5rem;
      padding: 0 0.5rem;
      font-size: 3rem;
      text-decoration: none;
      color: $light;
      cursor: pointer;
      width: 4rem;
      border-color: transparent;

      &:active {
        transform: translate(0px, 5px);
        box-shadow: 0px 1px 0px 0px;
      }
    }

    .green {
      background-color: #2ecc71;
      box-shadow: 0px 5px 0px 0px #15b358;

      &:hover {
        background-color: #48e68b;
      }
    }

    .red {
      background-color: #e74c3c;
      box-shadow: 0px 5px 0px 0px #ce3323;

      &:hover {
        background-color: #ff6656;
      }
    }
  }

  .link {
    font-size: 1.5rem;
    text-decoration: none;
    color: $dark;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 3px;
      background: $dark;
      margin: auto;
      transition: all 0.5s ease;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
